html{
    margin: 0;
    padding:0;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}

body {
    margin: 0;
    padding:0;
    width: 100vw;
    height: 100vh;
	font-family: helvetica;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
  }

  .header{
    position: fixed;
    height: 5%;
    width: 99%;
    margin-left: 10%;
    font-style: italic;
    background-color: black;
    color: wheat;
    font-size: 4vh;
  }
 
  .logo-container{
      height: 100%;
      display: table;
      float: left;
  }

  .logo-container h1{
    color: wheat;
      height: 100%;
      display: table-cell;
      vertical-align: middle;
      font-family: 'Montserrat';
      font-size: 4vh;
      font-weight: 100;
  }

  .logo-container h1 span{
      font-weight: 1000;
      font-size: 5vh;
      color: white;
  }
  
  .info{
      float: right;
      height: 100%;
      font-size: 3vh;
      font-family: 'Montserrat';
      color: wheat;
      vertical-align: middle;
      margin-right: 10%;
  }
  
  .header img{
      float: right;
      height: 5vh;
      width: 6vw;
      background-size: 100% 100%;
      background-position: center;
  }
 
  .sidebar {
    position: fixed;
    height: 100vh;
    width: 10vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:
    #203344;
    overflow: hidden;
    color: black;
  }
  
  /* Style sidebar links */
   .sidebar a {
        padding: 20%;
        text-decoration: none;
        font-size: 3.2vh;
        font-style: oblique;
        color: #818181;
        display: block;
        font-family: 'Montserrat';
        border-style:solid;
        border-color: #000;
        text-align: center;
  }
  
   .sidebar a:hover {
        color: black;
        background-color:#FFE4C4;
  }

  .sidebar img{
      width: 100%;
      height: 80%;
  }

    .content{
        position: fixed;
        top: 5%;
        margin: 0;
        padding:0;
        width: 90%;
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10%;
        background-image: url(images/765443.jpg);
        background-size: 100% 100%;
        bottom: 5%;
    }

        .fullName{
            position: fixed;
            margin: auto;
            padding-left: 2%;
            left: 0;
            top: 10%;
        }

        .page{
            position: relative;
            margin: 0;
            padding:0;
            width: 100%;
            text-align: center;
        }

        .welcome-header{
            color: #ffffb3;
            font-size: 10vh;
            font-style:italic;
            margin-top: -10%;
            font-weight: 200;
            font-family: 'Montserrat';
        }

        .welcome-header span{
            font-weight:bold;
            color: white;
            font-family: 'Montserrat';
        }

        .game{
            position: relative;
            width: 100%;
            height: 100%;
            margin: auto;
            text-align: center;
            display: block;
        }
        
        .game .gameDetails{
        width: 20vw;
        background: transparent;
        margin-top: 1%;
        float: left;
     
        }
        .game .gameDetails h1{
            font-weight: 500;
            font-size: 4vh;
            text-align: center;
            color: #ffffb3;
          
            
        }
        .game .gameDetails h2{
            font-weight: 500;
            font-size: 3vh;
            text-align: left;
            margin-bottom: 3%;
            color: darkgray;
            text-align: center;
        }
        .game .gameDetails label{
            font-weight: 200;
            font-size: 1.5vh;
            text-align: center;
            color: darkgray;
        }

        .game .data{
            margin: auto;
            width: 20vw;
            height: 20vh;
            padding: 1vh;
            padding-bottom: 2%;
            text-align: center;
            display: block;
          
        }
        .game .data h1{
            font-weight: 500;
            font-size: 4vh;
            text-align: center;
            color: #ffffb3;
          
            
        }
        .game .data h2{
            font-weight: 500;
            font-size: 3vh;
            text-align: left;
            margin-bottom: 3%;
            color: darkgray;
            text-align: center;
        }
        .game .data label{
            font-weight: 200;
            font-size: 2vh;
            text-align: center;
            color: darkgray;
        }

        .game canvas {
            padding: 0;
            margin: auto;
            display: block;
            width: 70%;
            height: 35%;
            background-color: rgba(0, 0, 120 , 0.685);
            border-radius: 2vh;
            margin-top: -2%;
            border: .15em solid #5757ff;
            border-radius: .5em;
            padding: .25em .25em 0 .25em;
           
        }

    .footer{
        position: fixed;
        bottom: 0;
        height: 5vh;
        width: 100vw;
        background-color: black;
        color: wheat;
        font-family: 'Montserrat';
        font-size: 2vh;
        margin-left: 10%;
    }

    .glow-on-hover {
        width: 40vh;
        height: 7vh;
        border: none;
        outline: none;
        color: white;
        background: blue;
        cursor: pointer;
        position: relative;
        z-index: 0;
        border-radius: 1vh;
        font-size: 4vh; 
        font-style: italic;
        margin-top: -1vh;
    }
    
    .glow-on-hover:before {
        content: '';
        background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
        position: absolute;
        top: -2px;
        left:-2px;
        background-size: 400%;
        z-index: -1;
        filter: blur(5px);
        width: 41vh;
        height: 8vh;
        animation: glowing 20s linear infinite;
        opacity: 0;
        transition: opacity .3s ease-in-out;
        border-radius: 10px;
    }
    
    .glow-on-hover:active {
        color:blue
    }
    
    .glow-on-hover:active:after {
        background: transparent;
    }
    
    .glow-on-hover:hover:before {
        opacity: 1;
    }
    
    .glow-on-hover:after {
        z-index: -1;
        content: '';
        position: absolute;
        width: 40vh;
        height: 7vh;
        background: blue;
        left: 0;
        top: 0;
        border-radius: 1vh;
    }
    
    @keyframes glowing {
        0% { background-position: 0 0; }
        50% { background-position: 400% 0; }
        100% { background-position: 0 0; }
    }


    .pacman {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: #f2d648;
        position: relative;
        margin-left: 47%;

      }
      .pacman__eye {
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        top: 20px;
        right: 40px;
        background: #333333;
      }
      .pacman__mouth {
        background: #000;
        position: absolute;
        width: 100%;
        height: 100%;
        clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
        animation-name: eat;
        animation-duration: 0.7s;
        animation-iteration-count: infinite;
      }
      @keyframes eat {
        0% {
          clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
        }
        25% {
          clip-path: polygon(100% 60%, 44% 48%, 100% 40%);
        }
        50% {
          clip-path: polygon(100% 50%, 44% 48%, 100% 50%);
        }
        75% {
         clip-path: polygon(100% 59%, 44% 48%, 100% 35%);
        }
        100% {
         clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
        }
      }
      .pacman__food {
        position: absolute;
        width: 15px;
        height: 15px;
        background: #fff;
        border-radius: 50%;
        top: 40%;
        left: 120px;
        animation-name: food;
        animation-duration: 0.7s;
        animation-iteration-count: infinite;
      }
      @keyframes food {
        0% {
          transform: translateX(0);
            opacity: 1;
        }
        100% {
          transform: translateX(-50px);
          opacity: 0;
        }
      }
      input {
        text-align: center;
        background-color: #ECF0F1;
        border: 2px solid transparent;
        border-radius: 3px;
        font-size: 16px;
        font-weight: 200;
        padding: 10px 0;
        width: 250px;
        transition: border .5s;
        }
        
        input:focus {
        border: 2px solid #3498DB;
        box-shadow: none;
        }
        
    .register{
        height: 60vh;
        width: 30vw;
        background-image: url(images/back-login.jpg);
        background-size: 100% 100%;
        background-position: center;
        margin-top: -10%;
        border-color:#A0A0A0;
        border-style: solid;
        border-width: thin;

    }
    .register h1{
        font-weight: 500;
        font-size: 7vh;
        text-align: center;
        margin-bottom: 3%;
        color: #ffffb3;
    }

    .input-box{
        height: 3vh;
        width: 30vw;
        background: transparent;
        border: 0.1vh solid #fff;
        margin: 1vh 0;
        border-radius: 1vh;
        padding: 0 1vh;
        text-align: center;
        color: #fff;
        outline: none;
        box-sizing: border-box;
        font-size: 2vh;
    }

    ::placeholder{
        color: #fff;
        font-size: 2vh;
        opacity:40%;
    }

    .About {
        display: none; 
        position: fixed; 
        z-index: 1; 
        top: 10vh;
        left: 30vw;
        padding: 0;
        width: 50vw; 
        height: 40vh;  
      }
      
      .modal-content {
        background-color: #203344;;
        margin: 15% auto; 
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
      }
      .modal-content h1{
          text-align: center;
          color: #ffffb3;
          font-size: 4vh;
      }
      .modal-content p{
        text-align: left;
        font-size: 3vh;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-style: italic;
        color:grey;
        
      }
      
      /* The Close Button */
      .close {
        color: #aaa;
        float: right;
        font-size: 4vh;
        font-weight: bold;
      }
      
      .close:hover,
      .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
      }
    
    .submit{
        height: 3vh;
        width: 30vw;
        background: transparent;
        border: 0.1vh solid #fff;
        margin: 3vh 0;
        border-radius: 1vh;
        padding: 0 1vh;
        text-align: center;
        color: #fff;
        outline: none;
        box-sizing: border-box;
        font-size: 2vh;
        cursor: pointer;
    }

    .submit:hover{
        background:#333333;
    }

    .login{
        height: 40vh;
        width: 30vw;
        background-image: url(images/back-login.jpg);
        background-size: 100% 100%;
        background-position: center;
        margin-top: -10%;
        border-color:#A0A0A0;
        border-style: solid;
        border-width: thin;
    }

    .login h1{
        font-weight: 500;
        font-size: 7vh;
        text-align: center;
        margin-bottom: 3%;
        color: #ffffb3;
    }

    .config{
        height: 85vh;
        width: 40vw;
        background-image: url(images/back-login.jpg);
        background-size: 100% 100%;
        background-position: center;
        margin-top: 1%;
        border-color:#A0A0A0;
        border-style: solid;
        border-width: thin;

    }
    .config h1{
        font-weight: 500;
        font-size:  4vh;
        text-align: center;
        color: #ffffb3;
      
        
    }
    .config h2{
        font-weight: 500;
        font-size:2.5vh;
        text-align: left;
        margin-bottom: 3%;
        color: darkgray;
        text-align: center;
    }
    .config label{
        margin-left: 1vw;
        font-weight: 200;
        font-size: 2vh;
        text-align: center;
        color: darkgray;
    }

    .input-box-config{
        width: 12vw;
        background: transparent;
        border: 0.1vh solid #fff;
        margin:  1vh 0.5vw;
        height: 2.5vh;
        border-radius: 2vh;
        padding: 0 1vh;
        text-align: center;
        color: #fff;
        outline: none;
        box-sizing: border-box;
        font-size: 2vh;


    }
    .but-config{
        width: 15vw;
        border: 0.1vh solid #fff;
        margin-left: 3.5vw;
        height: 4vh;
        border-radius: 2vh;
        font-size: 2vh;
        padding: 0 1vh;
        text-align: center;
        color: #fff;
        outline: none;
        box-sizing: border-box;
        cursor: pointer;
        color: #000;
        background-color: gray;

    }
    .input-box-config-ball{
        width: 12vw;
        background: transparent;
        border: 0.1vh solid #fff;
        margin-left: 1vw;
        height: 3vh;
        border-radius: 2vh;
        padding: 0 1vh;
        text-align: center;
        outline: none;
        box-sizing: border-box;
        font-size: 2vh;


    }
    .input-box-game-config-ball{
        width: 5vw;
        background: transparent;
        border: 0.1vh solid #fff;
        margin: 0.5vh 0.5vw;
        height: 2.5vh;
        border-radius: 2vh;
        padding: 0 1vh;
        text-align: center;
        outline: none;
        box-sizing: border-box;
        font-size: 1.5vh;
        color: white;
    }
  
    .conclude{
        height:40vh;
        width: 35vw;
        background-color:#000000;
        border: .15em solid #5757ff;
        border-radius: .5em;
        padding: .25em .25em 0 .25em;
    }

    .conclude h1{
        text-align: center;
        margin-top: -5%;
        font-size: 5vh;
        color: #ffffb3;
    }
    .conclude h2{
        text-align: center;
        margin-top: -2%;
        font-size: 4vh;
        color: darkgray;
    }
    .conclude label{
        font-weight: 200;
        font-size: 3vh;
        text-align: center;
        color: darkgray;
    }

    .conclude img{
        width: 8vw;
        height: 6vh;
        text-align: center;
    }

    .but-config-conclude{
        height: 3vh;
        width: 15vw;
        border:1px solid #fff;
        margin-left: 5%;
        border-radius: 20px;
        padding: 0 10px;
        text-align: center;
        color: #fff;
        outline: none;
        box-sizing: border-box;
        cursor: pointer;
        font-size: 3vh;
        color: #000;
        background-color: gray;
        margin-top: 5%;
    }
  
 